<h1>Hola</h1>
<h1>{{titulo}}</h1>
<!-- NO RECOMENDADA , OPERACION EN EL TEMPLATE-->
<h3> NO RECOMENDADA , OPERACION EN EL TEMPLATE</h3>
<button (click)="numero = numero + 1">+1</button>
<span>{{numero}}</span>
<button (click)="numero = numero - 1;">-1</button>

<!-- UTILIZANDO 2 METODOS -->
<h3> UTILIZANDO 2 METODOS</h3>
<button (click)="suma();">+1</button>
<span>{{numero2}}</span>
<button (click)="resta();">-1</button>

<!-- UTILIZANDO 1 METODO -->
<h3> UTILIZANDO 1 METODO</h3>
<button (click)="sumaresta(1);">+1</button>
<span>{{numero3}}</span>
<button (click)="sumaresta(-1);">-1</button>

<!-- TAREA -->
<h3>La base es : <strong>{{bases}}</strong></h3>
<button (click)="acomulado(bases);">+{{bases}}</button>
<span>{{numero4}}</span>
<button (click)="acomulado(-bases);">-{{bases}}</button>

<app-contador></app-contador>
<app-contador></app-contador>

<!-- <app-heroe></app-heroe> -->


<app-listado></app-listado>